.account-card-alerts {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    color: var(--light-gray);
    z-index: 901;
    pointer-events: none;
}

/*-----===| ALERTS |===-----*/
.account-card-error-alert {
    border: solid 1px var(--medium-red);
    background-color: rgba(var(--medium-red-rgb), 0.1);
}
.account-card-success-alert {
    border: solid 1px var(--medium-green);
    background-color: rgba(var(--medium-green-rgb), 0.1);
}
.account-card-error-alert , .account-card-success-alert {
    border-radius: 5px;
    padding: 3px 6px;
    opacity: 0;
    transform: translateY(-100%);
    align-self: flex-start;
    transition: var(--all-500ms-custom);
    position: absolute;
    pointer-events: none;
}
.show-card-alert {
    opacity: 1;
    transform: translateY(calc(8vh + 30px + 100%)); /* Header + ele 1 dele mesmo*/
}