.page-header {
    top: 0;
    position: sticky;
    height: calc(8vh + 30px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--all-200ms-ease-in-out);
    z-index: 900;
}

.header-title-container {
    height: calc(3vh + 30px);
    width: 100%;
    padding: 15px 0;
    filter: invert(0.75);
}

.header-title {
    font-family: 'Syncopate', sans-serif;
    font-size: 3vh;
    padding: 0;
    margin: 0;
}


.header-nav {
    height: 5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-nav-links {
    height: auto;
    max-width: 1080px;
    width: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Fira Code Retina", monospace;
    font-size: 16px;
    font-weight: bolder;
}
.header-nav a {
    color: var(--light-gray);
}
.header-nav a:hover {
    color: var(--white-gray);
    text-shadow: var(--white-gray) 0 0 20px;
}

/*-----===| EFFECTS |===-----*/
.hide-header {
    transform: translateY(calc(-3vh - 30px));
    transition: var(--all-200ms-ease-in-out);
}