.knowledge-container {
    height: calc(100vh - 62px - 5vh);
    max-width: 1820px;
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2.5vh;
    border-radius: .5em;
    overflow: hidden;
    color: var(--white-gray);
    padding: 0 15px;
}
.knowledge-container ul {
    padding: 0;
}
.knowledge-container h1 {
    font-size: 24px;
}
.knowledge-container span {
    font-size: 16px;
}

.knowledge-left-side {
    height: 100%;
    width: 35%;
    background-color: var(--darker-gray);
    border-radius: .5em;
}
.knowledge-upload-container {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.knowledge-upload-description {
    min-height: calc(70px - 2.5%);
    height: calc(40% - 2.5%);
    width: 97.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5%;
    border-bottom: solid 1px var(--white-gray);
}
.knowledge-upload-description span {
    text-align: center;
}
.knowledge-upload-drag-drop-container {
    height: 65%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.knowledge-dropzone {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #aaa;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
.dragging {
    border-color: var(--dex-red);
    color: var(--dex-red);
    background-color: var(--black-gray);
}

.knowledge-documents-uploading {
    height: 57.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2.5%;
}
.knowledge-documents-uploading-header {
    min-height: 40px;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.knowledge-documents-uploading-header span {
    height: 100%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-bottom: solid 1px var(--medium-gray);
}
.knowledge-documents-uploading-list {
    height: 85%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
    scrollbar-color: var(--black-gray) var(--darker-gray);
    scrollbar-width: thin;
}

.knowledge-documents-container {
    height: 100%;
    width: 62.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--darker-gray);
    border-radius: .5em;
}

.knowledge-documents-container-header {
    min-height: 70px;
    height: 10%;
    width: 97.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px var(--white-gray);
}

.knowledge-documents-container-content {
    height: 87.5%;
    width: 97.5%;
    overflow-y: auto;
    scrollbar-color: var(--black-gray) var(--darker-gray);
    scrollbar-width: thin;
}

.knowledge-documents-retrieved {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.knowledge-documents-retrieved-list {
    width: 95%;
}

@media screen and (max-width: 1300px) {
    .knowledge-container h1 {
        font-size: 20px;
    }
    .knowledge-container span {
        font-size: 12px;
    }
    .knowledge-container {
        flex-direction: column;
        height: calc(100vh - 62px - 5vh);
    }
    .knowledge-left-side {
        width: 100%;
        height: 35%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .knowledge-upload-container {
        height: 95%;
    }
    .knowledge-documents-uploading {
        height: 95%;
        margin-top: 0;
    }
    .knowledge-documents-container {
        width: 100%;
        height: 60%;
    }
    .knowledge-documents-container-content {
        height: 82.5%;
    }
}

@media screen and (max-width: 1300px) {
    .knowledge-container h1 {
        font-size: 18px;
    }
    .knowledge-container span {
        font-size: 12px;
    }
    .knowledge-left-side {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .knowledge-upload-container {
        height: 50%;
    }
    .knowledge-documents-uploading {
        height: 47.5%;
        margin-top: 2.5%
    }
    .knowledge-documents-container {
        width: 100%;
        height: 35%;
    }
}