.knowledge-container {
    height: 92vh;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.knowledge-header {
    height: 42.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border: solid 1px var(--dark-gray);
    border-radius: 1em;
    background-color: var(--black-gray);
}
.knowledge-documents {
    height: 55%;
    width: 100%;
    border: solid 1px var(--dark-gray);
    border-radius: 1em;
    background-color: var(--black-gray);
}

.knowledge-header-description {
    height: 25%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.knowledge-drag-drop-container {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.knowledge-dropzone {
    height: 80%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}