.knowledge-container {
    height: calc(100vh - 62px - 5vh);
    max-width: 1820px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2.5vh;
    border-radius: .5em;
    overflow: hidden;
    color: var(--white-gray);
    background-color: var(--darker-gray);
    padding: 0 15px;
}
.knowledge-container ul {
    padding: 0;
}
.knowledge-container h1 {
    font-size: 24px;
}
.knowledge-container span {
    font-size: 16px;
}

.knowledge-left-side {
    height: 100%;
    width: 35%;
}
.knowledge-upload-container {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.knowledge-upload-description {
    min-height: 70px;
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.knowledge-upload-drag-drop-container {
    height: 65%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.knowledge-dropzone {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #aaa;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
.dragging {
    border-color: var(--medium-green);
    color: var(--medium-green);
    background-color: var(--black-gray);
}

.knowledge-documents-uploading {
    height: 57.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2.5%;
}


.knowledge-documents-container {
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.knowledge-documents-container-header {
    min-height: 70px;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px var(--dark-gray);
}

.knowledge-documents-container-content {
    height: 87.5%;
    width: 97.5%;
    overflow-y: auto;
    scrollbar-color: var(--black-gray) var(--darker-gray);
    scrollbar-width: thin;
}

.knowledge-documents-retrieved {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}