@import url("https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap");

.about-page-container {
    & .inicialContainer {
        position: relative;
        display: grid;
        height: calc(100vh - 90px);
        /* width: calc(100vw - 17px); */
        background: url(/images/background-about.png) no-repeat center;
        justify-content: start;
        align-items: center;
        padding-left: 120px;

        & .background {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background: url(/images/background-about.png);
            background-size: cover;
            z-index: 1;
        }

        & .background-overlay {
            background: linear-gradient(
                to right,
                rgba(0, 0, 0, 0.8) 25%,
                rgba(0, 0, 0, 0)
            );
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
    }

    & .inicialContainerContent {
        display: grid;
        gap: 30px;
        z-index: 5;
    }

    & .InicialTitle {
        /* padding-left: 40px; */
        font-family: "Syncopate";
        color: white;
        font-weight: 700;
        font-size: 36px;
    }

    & .InicialText {
        color: #fff;
        font-size: 1.25rem;
        max-width: 700px;
    }
    & .infoScroll {
        display: grid;
        height: 90px;
        width: 100%;
        align-items: end;
    }

    & .infoScrollContent {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    & .infoScrollContent a {
        font-family: "Saira", sans-serif;
        color: white;
        font-weight: 500;
        font-size: 22px;
    }

    & .infoScrollContent span {
        height: 40px;
        width: 3px;
        border-radius: 2px;
        background-color: white;
    }

    & .infoScroll .divider {
        display: grid;
        justify-self: center;
        margin-bottom: 10px;
        height: 2px;
        background-color: white;
        width: 94%;
        border-radius: 2px;
    }

    & .MeetOurTeam {
        display: grid;
        height: 885px;
    }

    & .container-swiper {
        width: 98vw;
        max-width: initial;
    }

    & .topContentMOT {
        display: grid;
        height: min-content;
        place-items: center;
        margin-top: 80px;
        gap: 5px;
    }

    & .topContentMOT h2 {
        font-family: "Saira";
        color: white;
        font-weight: 700;
        font-size: 32px;
    }

    & .topContentMOT p {
        color: #dbdbdb;
        font-size: 24px;
    }

    & .containerPictures {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: start;
        overflow: hidden;
        gap: 50px;
        position: relative;
        height: 400px;
    }

    & .membersPicture {
        align-content: end;
        justify-content: center;
        width: 100%;
        margin: 10px 0;
        height: 400px;
        transition: transform 0.5s ease;
        padding-bottom: 30px;
        border-radius: 10px;
        padding: 1rem;
    }

    & .insideBoxPicture {
        background-color: white;
        width: 100%;
        height: 100px;
        place-items: center;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
    }

    & .insideBoxPicture .namePicture {
        font-family: "Saira";
        font-weight: 500;
        font-size: 18px;
        color: #000;
    }

    & .bottomContentMOT {
        display: grid;
        place-items: center;
    }

    & .bottomContentMOT p {
        color: #dbdbdb;
        font-size: 24px;
    }
}
