/*-----===| DISPLAY: flex |===-----*/
.authentication-card,
.sign-in-container, .sign-up-container,
.authentication-card-header,
.authentication-card-form-container,
.authentication-card-form,
.fs-user, .fs-email, .fs-password, .fs-confirm-password,
.authentication-card-switch {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*-----===| Styling |===-----*/
.authentication-card {
    max-height: calc(85vh - (8vh + 30px)); /*(Altura máxima) - (Header)*/
    width: 90vw;
    z-index: 801;
    padding: 10px 20px;
    border-radius: .75em;
    opacity: 1;
    transition: var(--all-500ms-custom);
    background-color: var(--black-gray);
    color: var(--light-gray);
    border: solid 1px var(--dark-gray);
    position: absolute;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;

    /*---=| display: flex |---*/
    flex-direction: column;
    justify-content: space-between;
}
.sign-in-container, .sign-up-container {
    height: auto;
    width: 100%;
    transition: var(--all-500ms-custom);

    /*---=| display: flex |---*/
    flex-direction: column;
}
.hidden-authentication-card, .hidden-sign-in, .hidden-sign-up {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.authentication-card-header {
    height: auto;
    width: 100%;
    padding: 5px 0;
    position: relative;

    /*---=| display: flex |---*/
}
.authentication-card-header h1 {
    font-size: 32px;
}

.close-card-btn {
    top: -5px;
    right: -15px;
    position: absolute;
    cursor: pointer;
    font-size: 36px;
}

.authentication-card-form-container {
    flex: 1;
    height: auto;
    width: 100%;
    overflow-y: auto;

    /*---=| display: flex |---*/
    flex-direction: column;
    justify-content: flex-start;
}
.authentication-card-form {
    flex: 1;
    height: auto;
    width: 90%;

    /*---=| display: flex |---*/
    flex-direction: column;
    justify-content: space-around;
}
.fs-user, .fs-email, .fs-password, .fs-confirm-password {
    height: auto;
    width: 100%;
    flex-wrap: wrap;
    margin: 5px 0 20px 0;
    position: relative;

    /*---=| display: flex |---*/
    justify-content: flex-start;
}
.authentication-card-form label {
    color: var(--medium-gray);
    transition: var(--all-500ms-custom);
}
.fs-user:focus-within label,
.fs-email:focus-within label,
.fs-password:focus-within label,
.fs-confirm-password:focus-within label {
    color: var(--light-gray);
}
.authentication-card-form input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    outline: 1px solid var(--dark-gray);
}
.authentication-card-form input.invalid-input{
    outline: 1px solid var(--medium-red);
}

.authentication-card-form input:focus {
    outline: solid 1px var(--light-gray);
}
.authentication-card-form input[type="submit"] {
    background-color: var(--white-gray);
    color: var(--black-gray);
    font-weight: bolder;
    transition: var(--all-500ms-custom);
    outline: none;
    margin: 15px 0;
}
.authentication-card-form input[type="submit"]:hover {
    background-color: var(--light-gray);
}

.authentication-card-switch {
    height: auto;
    width: 100%;
    /*---=| display: flex |---*/
}

.switch-link {
    cursor: pointer;
    font-weight: bolder;
}
.switch-link:hover {
    color: var(--light-gray);
    text-decoration: underline;
}

/*-----===| RESPONSIBILITY |===-----*/
@media screen and (min-width: 768px) {
    .authentication-card {
        max-height: 80vh;
        max-width: 540px;
        width: 90vw;
    }

    .sign-in-container, .sign-up-container {
        height: auto;
        width: 100%;
    }

    .hidden-authentication-card, .hidden-sign-in, .hidden-sign-up {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .authentication-card-header {
        height: auto;
        width: 100%;
        padding: 5px 0;
        position: relative;
    }

    .authentication-card-header h1 {
        font-size: 32px;
    }

    .close-card-btn {
        top: -5px;
        right: -15px;
        position: absolute;
        cursor: pointer;
        font-size: 36px;
    }

    .authentication-card-form-container {
        flex: 1;
        height: auto;
        width: 100%;
        overflow-y: auto;
    }

    .authentication-card-form {
        flex: 1;
        height: auto;
        width: 90%;
    }

    .fs-user, .fs-email, .fs-password, .fs-confirm-password {
        height: auto;
        width: 100%;
        flex-wrap: wrap;
        margin: 5px 0 20px 0;
        position: relative;
    }

    .authentication-card-form label {
        color: var(--medium-gray);
        transition: var(--all-500ms-custom);
    }

    .fs-user:focus-within label,
    .fs-email:focus-within label,
    .fs-password:focus-within label,
    .fs-confirm-password:focus-within label {
        color: var(--light-gray);
    }

    .authentication-card-form input {
        width: 100%;
        padding: 5px;
        margin: 5px 0;
        border: none;
        border-radius: 5px;
        outline: 1px solid var(--dark-gray);
    }

    .authentication-card-form input.invalid-input {
        outline: 1px solid var(--medium-red);
    }

    .authentication-card-form input:focus {
        outline: solid 1px var(--light-gray);
    }
}

