.account-card {
    max-height: 80vh;
    max-width: 540px;
    width: 50vw;
    z-index: 801;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: .75em;
    transform: translateY(0);
    transition: var(--all-500ms-custom);
    background-color: var(--black-gray);
    color: var(--light-gray);
    border: solid 1px var(--dark-gray);
    position: absolute;
}
.sign-in-container, .sign-up-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--all-500ms-custom);
}
.hidden-account-card, .hidden-sign-in, .hidden-sign-up {
    opacity: 1;
    visibility: hidden;
    transform: translateY(-100vh);
    pointer-events: none;
}

.account-card-header {
    height: auto;
    width: 100%;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.account-card-header h1 {
    font-size: 32px;
}

.close-card-btn {
    top: -5px;
    right: -15px;
    position: absolute;
    cursor: pointer;
    font-size: 36px;
}

.account-card-form-container {
    flex: 1;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: auto;
}
.account-card-form {
    flex: 1;
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.fs-user, .fs-email, .fs-password, .fs-confirm-password {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 5px 0;
}
.account-card-form label {
    color: var(--medium-gray);
    transition: var(--all-500ms-custom);
}
.fs-email:focus-within label,
.fs-password:focus-within label {
    color: var(--light-gray);
}
.account-card-form input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #000;
    border-radius: 5px;
    outline: solid 1px var(--dark-gray);
}
.account-card-form input:focus {
    outline: solid 2px var(--light-gray);
}
.account-card-form input[type="submit"] {
    background-color: var(--white-gray);
    color: var(--black-gray);
    font-weight: bolder;
    transition: var(--all-500ms-custom);
    outline: none;
    margin: 15px 0;
}
.account-card-form input[type="submit"]:hover {
    background-color: var(--light-gray);
}

.account-card-switch {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.switch-link {
    cursor: pointer;
    font-weight: bolder;
}
.switch-link:hover {
    color: var(--light-gray);
    text-decoration: underline;
}

/*-----===| ALERTS |===-----*/
.account-card-allert {
    position: absolute;
}
.hidden-card-alert {}