.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(90vh - 2rem);
    margin: auto;

    .chat-history {
        background-color: var(--darker-gray);
        color: white;
        padding: 1rem;
        max-width: 20%;
        border-radius: 0.5rem;
        text-align: center;
        flex: 1;

        .btn {
            margin: 1rem 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            overflow-y: auto;
            height: 100%;
            text-align: left;

            li {
                padding: 0.5rem;
                margin-bottom: 0.5rem;
                border-radius: 0.5rem;
                background-color: #1d1d1d;
                cursor: pointer;
                max-height: 4rem;
                overflow: hidden;               
                
                display: flex;
                align-items: center;
                justify-content: space-between;

                &.active {
                    background-color: rgba(113, 59, 136, 1);
                    background: linear-gradient(
                        90deg,
                        rgba(113, 59, 136, 1) 0%,
                        rgba(167, 46, 87, 1) 50%,
                        rgba(213, 25, 47, 1) 100%
                    );
                    box-shadow: 0px 8px 5px 0.1rem rgba(0, 0, 0, 0.15);
            
                }
                
                & span {
                    padding: 0.5rem;                    
                    text-overflow: ellipsis;
                    text-wrap: nowrap;
                    overflow: hidden;
                }

                & button {
                    font-size: 80%;
                    padding: 0.25rem 0.5rem;
                }

                &:hover:not(.active) {
                    background-color: #131313;
                }
            }
        }
    }

    .chat-wrapper:not(.widget) {
        display: flex;
        flex-direction: column;
        flex: 1;

        & .chat-body {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            flex: 1;
            padding: 1rem;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
            overflow-y: auto;
            background-color: var(--darker-gray);
        }

        & input.form-control {
            background-color: var(--darker-gray);
            color: #fff;

            &::placeholder {
                color: rgba(255, 255, 255, 0.75);
            }

            &::-ms-input-placeholder {
                color: rgba(255, 255, 255, 0.75);
            }
        }

        & .question-options {
            display: flex;
            width: 100%;
            margin-right: 0.75rem;

            & button {
                flex: 1;
                border: 1px solid #656565;
                max-width: 200px;

                &:hover {
                    background-color: #131313;
                }

                &:first-child {
                    margin-left: auto;
                }

                &:not(:last-child) {
                    margin-right: 0.75rem;
                }
            }
        }

        & .message-wrapper {
            display: flex;
            flex-direction: column;
            width: auto;
            margin-bottom: 0.75rem;
            align-self: flex-end;
            max-width: 75%;

            &.pdf {
                min-width: 100%;

                & .message-body {
                    min-height: 400px;
                }
            }

            & .message-body {
                padding: 0.75rem;
                margin-bottom: 0.25rem;
                border-radius: 0.5rem;

                background-color: #1d1d1d;
                color: #fff;
                box-shadow: 0px 8px 5px 0.1rem rgba(0, 0, 0, 0.15);

                & span {
                    white-space: pre-line;
                }

                &.typing :last-child::after {
                    content: '';
                    margin-left: 1rem;
                    border: 3px solid white;
                    animation: typing-marker 1s infinite;
                }
            }

            &.ia {
                align-self: flex-start;

                & .message-body {
                    color: #fff;
                    background-color: rgba(113, 59, 136, 1);
                    background: linear-gradient(
                        90deg,
                        rgba(113, 59, 136, 1) 0%,
                        rgba(167, 46, 87, 1) 50%,
                        rgba(213, 25, 47, 1) 100%
                    );
                }
            }

            & .secondary-data {
                align-self: flex-end;
                font-size: 70%;
                color: #efefef;
            }
        }

        & .typing-indicator {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 0.75rem;

            & span {
                width: 1rem;
                height: 1rem;
                background-color: #ffffff;
                border-radius: 50%;
                margin-right: 0.25rem;
                animation: typing-indicator 1s infinite;
                animation-composition: ease-in-out;
            }

            
        }
    }
}

@keyframes typing-marker {
    0% {
        opacity: 0.25;        
    }

    50% {
        opacity: 1;        
    }

    100% {
        opacity: 0.25;        
    }
}

@keyframes typing-indicator {
    0% {
        opacity: 0.25;
        transform: scale(0.75);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0.25;
        transform: scale(0.75);
    }
}