@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    height: 100px;
}
.Logo {
    font-family: 'Syncopate', sans-serif;
    color: white;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    font-family:sans-serif;
}

li {
    color: white;
    padding-right: 30px;
}

button {
    margin-left: auto;
    margin-right: 5%;
    font-family: sans-serif;
}

