.account-page-container {
    height: calc(92vh - 30px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5% 5%;
    max-width: 1080px;

    border: solid 1px red;
}
.sidebar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.sidebar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--dark-gray);
    margin: 0;
    padding: 0;
    overflow-y: auto;
}
.sidebar-item {
    color: white;
    list-style: none;
    height: auto;
    width: 100%;
    padding: 10px 0 10px 20px;
    font-size: 16px;
}
.active-sidebar-item {
    background-color: var(--medium-gray);
}

.window-account {
    height: 100%;
    width: 100%;
    background-color: black;
}





/*
asdfasdfas