.account-page-container {
    height: calc(92vh - 30px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5% 5%;
    max-width: 1080px;
}
.profile-icon img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.sidebar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
}
.sidebar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #2c2c2c;
    margin: 0;
    padding: 0 0 10px 0;
    overflow-y: auto;
    border-radius: 8px;

    & :last-child {
        margin-top: 10px;
        width: 50%;
        min-width: 50px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px var(--medium-red);
        background-color: rgba(var(--medium-red-rgb), 0.1);
        border-radius: 5px;
        transition: var(--all-200ms-ease-in-out);
    }
    & :last-child:hover {
        color: white;
        font-weight: bolder;
        background-color: rgba(var(--medium-red-rgb), 0.5);
    }
}
.sidebar-item {
    color: white;
    list-style: none;
    height: auto;
    width: 100%;
    padding: 10px 0 10px 20px;
    font-size: 12px;
    cursor: pointer;
    transition: var(--all-200ms-ease-in-out);
}
.active-sidebar-item {
    background-color: var(--dark-gray);
}

.window-account {
    height: 100%;
    width: 73%;
    background-color: var(--dark-gray);
    border-radius: 7.5px;
    padding: 20px 20px 0 20px;
    overflow-y: auto;
}
.form-info-pessoais {
    color: white;
    
    input {
        background-color: var(--dark-gray);
        border: solid 0.01px var(--medium-gray);
    }

    fieldset {
        display: flex;
        flex-direction: column;
        padding: 10px 0;
    }
}

.submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    
    & button {
        border: solid 1px var(--medium-green);
        background-color: rgba(var(--medium-green-rgb), 0.1);
        pointer-events: none;
        opacity: 0.25;
        
    }
    & .active {
        pointer-events: all;
        opacity: 1;
        transition: var(--all-200ms-ease-in-out);
    }
}



/*-----===| EFFECTS |===-----*/
.sidebar-item:hover {
    background-color: var(--dark-gray);
    color: var(--light-gray);
}

.active:hover {
    color: white;
    background-color: rgba(var(--medium-green-rgb), 0.5);
}
