.account-card {
    height: auto;
    width: 50vw;
    z-index: 801;
    transform: translateY(0);
    transition: all .5s cubic-bezier(0.85, 0.15, 0.15, 0.85);
}
.hidden {
    opacity: 1;
    visibility: hidden;
    transform: translateY(-100vh);
    pointer-events: none;
}

.account-card > div {
    margin: 10px 0;
}

.account-card-header {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.close-card-btn {
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}

.account-card-form-container {
    height: 100%;
    width: 85%;
    flex: 1;
}
.account-card-form {
    height: 100%;
    width: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.account-card-form > fieldset {
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.account-card-form > fieldset > label {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-card-form > fieldset > input {
    width: 100%;
}

.switch-btn {
    cursor: pointer;
}