@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

.conhecaDexDiv {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: center;
    margin-top: calc(80vh * 0.1); /*10% de 80vh (10% é o espaço q sobrou e 80vh é a altura do banner)*/
}

.conhecaDex {
    z-index: 1;
    font-weight: bold;
    color: white;
    font-family: 'Saira';
    color:  #C3C3C3;
    font-size: 40px;
    margin: 0;
}