@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

.conhecaDex {
    z-index: 1;
    margin-bottom: 30px;
    font-weight: bold;
    color: white;
    font-family: 'Saira';
    color:  #C3C3C3;
    font-size: 40px;
    text-align: center;
}