/*-----===| CONFIG + VARIÁVEIS |===-----*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--white-gray);
  background-color: var(--light-gray);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;

  /*---=| COLORS |=---*/
  /*-| Original |-*/
  --white-gray: #F9F9F9FF;
  --light-gray: #CCCCCCFF;
  --medium-gray:  #8C8C8CFF;
  --dark-gray: #454545FF;
  --black-gray: #191919FF;
  /*-| When alpha is necessary |-*/
  --white-gray-rgb: 249, 249, 249;
  --light-gray-rgb: 204, 204, 204;
  --medium-gray-rgb: 140, 140, 140;
  --dark-gray-rgb: 69, 69, 69;
  --black-gray-rgb: 25, 25, 25;

  --all-500ms-custom: all .5s cubic-bezier(0.85, 0.15, 0.15, 0.85);
  --all-200ms-ease-in-out: all .2s cubic-bezier(0.85, 0.15, 0.15, 0.85);
}

/*-----===| index.html |===-----*/

body {
  background-color: var(--black-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  --dot-size: 1px;
  --dot-space: 22px;
  background:
          linear-gradient(90deg, var(--black-gray) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--black-gray) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--medium-gray);
}

#root {
  width: 100%;
}

/*-----===| UNIVERSAL |===-----*/
figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.p {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--white-gray);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  font-weight: 500;
  color: var(--white-gray);
  text-decoration: inherit;
  transition: var(--all-200ms-ease-in-out);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--light-gray);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*-----===| UNIVERSAL EFFECTS |===-----*/
.glass-effect {
  background: linear-gradient(145deg, rgba(26, 26, 26, 0.7), rgba(26, 26, 26, 0.7));
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
