.background {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    /* background-size: cover; */
    z-index: 0;
    object-fit: cover;
}