.youtubeVideo {
    flex: 1;
    max-width: 50%;
    z-index: 1;
    max-height: 80%;
    aspect-ratio: 16 / 9;

    & iframe {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}